.logo {
  color: rgb(219, 10, 10);
  margin: 0;
  font-family: Pirata One;
  text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

.logo.white {
  color: rgb(255, 255, 255);
}

.logo.flat {
  text-shadow: none;
}
