.app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 95vw;
  max-width: 1440px;
  margin: 5% auto;

  background-color: rgb(44, 44, 44);
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* Pirata One, UnifrakturMaguntia, Grenze Gotisch, Jacquard, UnifrakturCook, Bokor */
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  font-size: 20px;
  box-sizing: border-box;
}

.account-button {
  font-size: 2rem;
}

.app-name {
  font-family: 'Pirata One';
  font-size: 80px;
  line-height: 0.9;
  color:rgb(242, 81, 1);
  text-shadow: 10px 10px 8px black;
}

.nav {
  position: absolute;
  right: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  overflow: hidden;
  z-index: 1;
}

.nav>* {
  width: 10rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  flex-grow: 1;
  height: 100%;
}

.nav-link.active {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.main {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  pointer-events: none;
  font-family: 'Raleway';
}

.workflow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 10rem;
  box-sizing: border-box;
  align-items: center;
}

.action-sequence {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.action-step {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.action-text.orange {
  color: rgb(241, 81, 1);
}

.action-text.green {
  color: rgb(68, 148, 129);
}

.action-text.light-green {
  color: rgb(214, 255, 246);
}

.action-step.jello {
  color: rgb(133, 237, 213);
}

.action-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.illustration {
  position: absolute;
  bottom: -5px;
  left: 0;
}
