.welcome {
  height: 100%;
  width: 100%;
  margin-top: -5rem;
  padding: 8rem 8rem 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.welcome .welcome-text {
  width: 60%;
}

.welcome .features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 5rem;
  margin-top: 2rem;
}

.welcome .features .feature {
  margin-bottom: 1rem;
}

.welcome .sign-in {
  margin-top: 2rem;
  margin-left: 30%
}

.welcome .hexes {
  margin-top: -7rem;
  position: relative;
  width: 350px;
}
